@using MvcOkul.Models.EntityFramework
@model List<TBLKULUP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KULUP ID</th>
        <th>KULUP ADI</th>
        <th>KULUP KONTENJAN</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach(var klp in Model)
            {
                <tr>
                    <td>@klp.KULUPİD</td>
                    <td>@klp.KULUPAD</td>
                    <td>@klp.KULUPKONTEJAN</td>
                    <td><a href="/Kulupler/Sil/@klp.KULUPİD" class="btn btn-danger">Sil</a>
                    <a href="/Kulupler/Getirkulup/@klp.KULUPİD" class="btn  btn-success">Güncelle</a></td>
                </tr>
            }

    </tbody>
</table>
<a href="/Kulupler/YeniKulup" class="btn btn-primary">Yeni Kulup Kaydı</a>

