
@{
    ViewBag.Title = "YeniNot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post" class="form-group">
        <div>
            <label>Öğrenci İd</label>
            <input type="text" class="form-control" name="OGRİD" />
        </div>
        <div>
            <label>Ders Adı</label>
            <input type="text" class="form-control" name="DERSİD" />
        </div>
        <div>
            <label>Sınav1</label>
            <input type="text" class="form-control" name="SINAV1" />
        </div>
        <div>
            <label>Sınav2</label>
            <input type="text" class="form-control" name="SINAV2" />
        </div>
        <div>
            <label>Sınav3</label>
            <input type="text" class="form-control" name="SINAV3" />
        </div>
        <div>
            <label>Proje</label>
            <input type="text" class="form-control" name="PROJE" />
        </div>
        <div>
            <label>Ortalama</label>
            <input type="text" class="form-control" name="ORTALAMA" />
        </div>
        <div>
            <label>Durum</label>
            <input type="text" class="form-control" name="DURUM" />
        </div>
        <div style="margin-top:10px">
            <button class="btn btn-info">Sınav Ekle</button>
        </div>
    </form>
</div>

