@model MvcOkul.Models.EntityFramework.TBLOGRENCİLER
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <form method="post" class="form-group">
        <div>
            <label>Öğrenci Adı</label>
            <input type="text" class="form-control" name="OGRAD" />
        </div>
        <div>
            <label>Öğrenci Soyadı</label>
            <input type="text" class="form-control" name="OGRSOYADİ" />
        </div>
        <div>
            <label>Öğrenci Fotografı</label>
            <input type="text" class="form-control" name="OGRFOTO" />
        </div>
        <div>
            <label>Öğrenci Cinsiyeti</label>
            <input type="text" class="form-control" name="OGRCİNSİYET" />
        </div>
        <div>
            <label>Öğrenci Kulup</label>
            @Html.DropDownListFor(m => m.TBLKULUP.KULUPİD, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        </div>
        <div style="margin-top:10px">
            <button class="btn btn-info">Öğrenci Ekle</button>
        </div>
    </form>
</div>

